<form id="pokemon-search">
  <label>Nombre</label>
  <input type="text" name="pokename" form="pokemon-search"/>

  <label>Tipo</label>
  <select>
    <option>Hierba</option>
    <option>Agua</option>
    <option>Fuego</option>
  </select>

  <label>Edicion</label>
  <select>
    <option>Rojo</option>
    <option>Azul</option>
    <option>Verde</option>
  </select>

  <label>Atributo</label>
  <select>
    <option>Fuerza</option>
    <option>Agilidad</option>
    <option>Constitucion</option>
  </select>

  <button>Search</button>
</form>

<style>
  #pokemon-search {
    display: grid;
  }
</style>